.discoverMain {
    background: #101029;
    text-align: center;
    padding: 104px 0 160px 0;
}
.discoverMain {
    &__header {
        padding: 16px 0 16px 0;
        background: rgba(30, 30, 55, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        & h4 {
            font-weight: 500;
            font-size: 20px;
        }
        margin: 0 0 64px 0;
    }
    &-header {
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__sorts {
        display: inline-grid;
        column-gap: 16px;
        grid-auto-flow: column;
        align-items: center;
        margin: 0 0 36px 0;
    }
    &__filters {
        display: flex;
        justify-content: space-between;
    }
    &__grid {
        & img {
            transition: 0.3s ease;
            cursor: pointer;
            padding: 9px;

            &.active {
                background-color: #5b00fb;
                transition: 0.3s ease;
                border-radius: 50%;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .discoverMain {
        padding: 64px 0 160px 0;
    }
}