.dropDown {
    z-index: 5;
    &__select {
        border: 0.5px solid #ffffff;
        display: inline-flex;
        align-self: center;
        padding: 8px 80px 8px 12px;
        border-radius: 30px;
        position: relative;
        transition: 0.3s ease;
        min-width: 200px;

        cursor: pointer;
        &::after {
            content: url("./assets/dropDownArrow.svg");
            position: absolute;
            top: 50%;
            right: 16px;
            transition: 0.3s ease;
            transform: translate(0, -50%);
        }
        &.open::after {
            transition: 0.3s ease;
            content: url("./assets/dropDownArrow.svg");
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%) rotate(180deg);
        }
    }
    &__menu {
        position: absolute;
        transition: 0.3s ease;
        background: #000;
        min-width: 200px;
    }
    &-menu {
        &__item {
            padding: 8px;
            border: 1px solid #bb82db;

            cursor: pointer;
        }
    }
}

@media screen and (max-width: 991px) {
    .dropDown {
        &__select {
            min-width: auto;
        }
    }
}
