.input {
    font-size: 15px;
    width: 100%;
    position: relative;
    margin: 16px 0;
    border: 0.5px solid #ffffff;
    box-sizing: border-box;
    border-radius: 48px;
    color: #fff;
    padding: 16px 24px 16px 24px;
    background: transparent;
    transition: 0.3s ease;
    position: relative;
    &:focus {
        transition: 0.3s ease;
        border: 0.5px solid #d70bca;
    }
}
.input__container {
    position: relative;
}
.alert {
    position: absolute;
    bottom: -8px;
    left: 24px;
    color: red;
}
