.toTop {
    width: 46px;
    height: 46px;
    cursor: pointer;
    position: fixed;
    background: url("./assets/arrowUp.svg");
    right: 20px;
    bottom: 20px;
    transition: 0.4s ease;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 100px);
    &.visible {
        transform: translate(0px, 0px);
        opacity: 1;
        visibility: visible;
        transition: 0.4s ease;
    }
}
.toTop:hover {
    transition: 0.3s ease;
    background: url("./assets/arrowUpHover.svg");
}
