.toTop {
    width: 46px;
    height: 46px;
    cursor: pointer;
    position: fixed;
    background: url("./arrowUp.svg");
    right: 20px;
    bottom: 20px;
    transition: 0.3s ease;
}
.toTop:hover {
    transition: 0.3s ease;
    background: url("./arrowUpHover.svg");
}
