.errorMain {
    background: #101029;

    padding: 104px 0 160px 0;
}
.errorMain__container {
    text-align: center;
}
.errorMain__header {
    margin: 110px 0 0 0;
    font-size: 144px;
}
.errorMain__label {
    font-size: 36px;
    margin: 0 0 8px 0;
}
.errorMain__description {
    font-size: 16px;
}
