.card {
    background: radial-gradient(
        2464.13% 850.69% at 100% 6.65%,
        #bb82db 0%,
        #636dc1 19.3%,
        #1d0f35 100%
    );
    border-radius: 10px;
    padding: 24px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 436px;
    align-items: center;
    text-align: center;
}
.card {
    &__button {
        cursor: pointer;
        background: #ffffff;
        border-radius: 37px;
        padding: 16px 48px;
        opacity: 0.8;
        transition: 0.3s ease;
        & p {
            background: linear-gradient(90deg, #5d00fa 0%, #d70bca 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover {
            transition: 0.3s ease;
            opacity: 1;
        }
        &:active {
            transform: scale(110%);
        }

        font-weight: 600;
        font-size: 16px;
        min-width: 200px;
        margin: 16px 0 0 0;
    }
    &__header {
        font-weight: 600;
        font-size: 18px;
        margin: 0 0 24px 0;
    }
    &__label_bold {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
    }
    &__minBid {
        font-weight: 500;
        font-size: 14px;
        margin: 0 0 12px 0;
    }
    &__buyNow {
        font-weight: 500;
        font-size: 14px;
    }
}

@media screen and (max-width: 1296px) {
    .card {
        &__picture {
            & img {
                width: 180px;
                height: 180px;
            }
        }
        min-height: auto;
    }
}
@media screen and (max-width: 991px) {
    .card {
        &__picture {
            & img {
                width: 160px;
                height: 160px;
            }
        }
        &__button {
            min-width: auto;
        }
    }
}
@media screen and (max-width: 520px) {
    .card {
        &__picture {
            & img {
                width: 215px;
                height: 215px;
            }
        }
        width: 280px;
        &__header {
            font-size: 16px;
        }
    }
}
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}
