.termsMain {
    background: #101029;

    padding: 104px 0 160px 0;
}
.termsMain {
    &__content {
        background: rgba(30, 30, 55, 0.5);
        padding: 32px;
        border-radius: 10px;
    }
    &__header {
        font-weight: bold;
        font-size: 30px;
        margin: 0 0 24px 0;
    }
    &__lastReviesedDate {
        font-size: 14px;
        margin: 0 0 32px 0;
    }
}
