.loginMain {
    background: #101029;

    padding: 104px 0 160px 0;
}
.loginMain {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1.7fr;
        column-gap: 64px;
    }
    &__login {
        background: rgb(30, 30, 55, 0.5);
        border-radius: 10px;
        padding: 24px 32px;
    }
    &-login {
        &__header {
            font-weight: bold;
            font-size: 20px;
            margin: 0 0 16px 0;
        }
        &__email {
            position: relative;
            &::after {
                content: url("./assets/emailIcon.svg");
                width: 15px;
                left: 16px;
                top: 50%;
                position: absolute;
                transform: translate(0, -50%);
            }
        }
        &__password {
            position: relative;
            &::after {
                content: url("./assets/passwordIcon.svg");
                width: 15px;
                left: 16px;
                top: 50%;
                position: absolute;
                transform: translate(0, -50%);
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            & input {
                padding: 16px 24px 16px 40px;
            }
        }
        &__checkbox {
            margin: 0 8px 0 16px;
            border: 1px solid #ffffff;

            border-radius: 3px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            margin: 16px 0 48px 0;
        }
        &__loginButton {
            padding: 16px 40px;
            background: linear-gradient(90deg, #5d00fa 0%, #d70bca 100%);
            border-radius: 46px;
            font-weight: bold;
            font-size: 18px;
            opacity: 0.8;
            transition: 0.3s ease;
            &:hover {
                transition: 0.3s ease;
                opacity: 1;
            }
            &:active {
                transition: 0.3s ease;
                transform: scale(110%);
            }
        }
        &__button {
            text-align: right;
        }
        &__forgotPassword {
            cursor: pointer;
        }
    }
}

u {
    text-decoration: underline;
}
