body {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #101029;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
    padding: 0;
    margin: 0;
    color: #fff;
    line-height: 120%;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-shadow: none;
    word-break: break-all;
}
input:focus {
    outline: none;
}
.container {
    margin: 0 auto;
    width: 1110px;
}

button:hover {
    transform: scale(110%);
}

@media screen and (max-width: 1296px) {
    .container {
        width: 1000px;
    }
}
@media screen and (max-width: 1072px) {
    .container {
        width: 900px;
    }
}
@media screen and (max-width: 991px) {
    .container {
        padding: 0 16px 0 16px;
        width: auto;
    }
}
