.faqMain {
    background: #101029;

    padding: 104px 0 160px 0;
}

.faqMain__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    grid-auto-flow: row dense;
    row-gap: 16px;
}
@media screen and (max-width: 991px) {
    .faqMain {
        padding: 64px 0 160px 0;
    }
}
@media screen and (max-width: 520px) {
    .faqMain__content {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: none;
        grid-auto-flow: row;
        row-gap: 16px;
    }
}
